<h2>
  List of cars:
</h2>

<!--edit-car>  (editCarPs) = "pessimiaticAdd()" ></edit-car-->
<ul class = "list-group">
  <li class = "list-group-item" *ngFor = "let key of carsKeys">{{'Car Number '+ key + ':'}}
    <ul>
      <li>{{'Manufacturer: ' + cars[key].manufacturer}}</li>
      <li>{{'Model: ' + cars[key].model}}</li>
    </ul> 
    <ul>
      <button class="btn btn-info" style ="margin-top: 10px" [routerLink] = "['/edit-car', key]" (click) = "updateCar(key)">Update</button>
      <button class="btn btn-danger" style ="margin-top: 10px" (click) = "deleteCar(key)">Delete</button>
     
    </ul>
 

    
  </li>
</ul>