<h2>Edit Car {{car?.id}}: </h2>
<form [formGroup] = "updateform" (ngSubmit) = "sendData()">
  <div>
    <label for="manufacturer"></label>
    <input type="text" name="manufacturer" id="manufacturer" class="form-control" formControlName = "manufacturer"  value="{{manufacturer}}" [(ngModel)]="manufacturer">
  </div>
  <div>
    <label for="model"></label>
    <input type="text" name="model" id="model" class="form-control" formControlName = "model"  value="{{model}}" [(ngModel)]="model">
  </div>
  <br>
  <input type="submit" style ="margin-top: 10px" value="Send" class="btn btn-info">
  
</form>